#slash{
    color: white;
}
#navbarCollapse{

   font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
   
}
body{
    margin: 0%;
    padding: 0%;
    background-image: url('/images/backgroundimage2.jpg ');
        background-size:cover;
        
}
.txt{
    color: black;
    margin-top: 150px;
    
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-top: 30px;
  padding-left: 50PX;
  text-decoration: solid;
 text-align: center;
 margin-bottom: 150px;
 
}

#cardbg{

    margin-bottom: 100px;
    margin-top: 100px;
    background-color: rgb(45, 49, 49);
    margin-left: 30px;
    margin-right: 30px;

}





