body {
    background-image: url("/images/Featured-Image4.jpg");
    
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

background-size: cover;
} 

#navbarCollapse{

    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
    
 }
 
.form_bg{
    background-color:#eee;
    color:#666;
box-sizing: content-box;
    padding-left:80px;
    padding-right: 10px;
    border-radius:20px;
    position: absolute;
    border:80% solid #fff;
    margin-top: 110px;
    margin-left: 200px;
  

    
    width: 600px;
    height: 500px;
}
.align-center {
    text-align:center;
    
}
.container
{
padding: 20px;
}
button {
    
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
   
  }
  button:hover {
    background-color: rgb(27, 131, 172);
    color: white;
  }
  